@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "my-font";
  src: url("/fonts/Proxima/Proxima\ Nova\ Alt\ Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.nav-gradient {
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0)),
    linear-gradient(to bottom, white, rgba(255, 255, 255, 0)),
    linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
}

.hero-image {
  width: 100%;
  height: 100%;
  max-width: 1800px;
  background-image: url('https://res.cloudinary.com/dm44jhmkp/image/upload/v1742312289/nfxgryvzhdfnsphqe0sc.jpg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.coffee-bg {
  width: 100%;
  height: 100%;
  max-height: none;
  max-width: 1800px;
  min-height: auto;
  background-image:
   radial-gradient(
      circle,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3) 39%,
      rgba(255, 255, 255, 0)
    ),
    url("https://assets-global.website-files.com/5c4fa1526e804a0b40fd9869/5c51056c619af22ba2909c77_ezgif.com-optimize%20(9).gif");
  background-position: 0 0, 100%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  display: flex;
}

.bottom-wrap {
  width: 100%;
  height: 100%;
  max-width: 1800px;
  background-image: linear-gradient(
      98deg,
      rgba(0, 0, 0, 0.6),
      rgba(255, 255, 255, 0)
    ),
    url("https://res.cloudinary.com/dpmfaivww/image/upload/v1742636551/vcuwf5lj1emda9guat3s.jpg");
  background-position: 0 0, 50% 100%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 0;
  display: flex;
  position: relative;
}

.phone-fruit {
  width: 100%;
  height: 100%;
  max-width: 1800px;
  background-image: 
  /* linear-gradient(
      98deg,
      rgba(0, 0, 0, 0.6),
      rgba(255, 255, 255, 0)
    ), */
    url("https://res.cloudinary.com/dm44jhmkp/image/upload/v1742323822/at3jr8wfysjfryzxs03q.png");
  background-position: 0 0, 50% 100%;
  background-repeat: no-repeat;
  background-size: auto, cover;
  /* background-attachment: scroll, fixed; */
  flex-direction: column;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  display: none;
  position: relative;
}

@media screen and (max-width: 479px) {
  .hero-image{
    background-position: 75% 100%;
  }

  .phone-fruit{
    display: flex;
  }
}
